	body {
			background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkxTyUG9JUHoDh18JLZFZPzhTn-oIpyFi0CaIvWunURma_hT8M);
			
		}
	#pagebox {
		Margin: 0% 5%;
		background-color: white;
		overflow: hidden;
		border: solid Navy 5px;
		border-radius: 25px;
		padding: 0px;
	}
	#content {
		Margin: 0% 5%;
		background-color: white;
		overflow: hidden;
	}
	h1 {
		text-align: center;
		margin: 55px 0px 10px 0px;
		
	}
	hr {
		border: solid Navy 1px;
		width: 100%;
	}
	#img {
		height:  30%;
	}
	#img:hover, #img:active {
		height:  60%;
	}
	#imgR {
		Float: Right;
		width: 60%;
		Margin: 10px;
		border: solid Navy 5px;
		border-radius: 25px;
	}
	#imgL {
		Float: Left;
		width: 60%;
		Margin: 10px;
		border: solid Navy 5px;
		border-radius: 25px;
	}
	footer {
		float: center;
		transform: translate(43%,0px);
	}
	button {
		float:left;
		height: 50px;
		width: 33%;
		border: solid Navy 3px;
		transform: translate(.5px,0px);
		background: linear-gradient(blue,purple,blue);
		font-size: 25px;
		color: white;
		text-shadow: 2px 2px grey;
	}
	button:hover {
		background: linear-gradient(blue,purple,magenta,purple,blue);
		text-shadow: 0px 0px 0px grey;
	}
	#btn3 {
		width: 34%;
		
	}
	#Insta {
		float: left;
		height: 25px;
		width:  25px;
		margin: 0px 5px 0px 0px;
	}
